.door-cards-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
  
  .door-deck-draw {
    border: 1px solid black;
    width:90%;
    height:25vh;
  }

  .door-deck-discard {
    border: 1px solid black;
    width:90%;
    height:25vh;
  }