.monster-container {
  // gap: 5px;
  // display: grid;
  // justify-self: center;
  // grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: 25vh;
  // border: 1px solid black;
  // height:90%;
  // background-color: lightskyblue;
  // // border: 1px solid red;
  // // height:100vh;
  // width: 80%;

    img {
      
      width:19vw;
      height: auto;
      align-self:center
    }
}