.cards-in-hand-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // just change 3 to what ever number of cards that you would like to display
  grid-template-rows: 1fr;
  align-items:center;
  height:100%;
}

ul {
  list-style: none;
  padding:0;
}

.zoom {
    transition: transform .2s;
    margin: 0 auto;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(2.0); 
    z-index: 1;
  }