#player-hub {
  // color:red;
  font-size: 4em;
  text-align: center;
  font-family: 'Libre Caslon Display', serif;

}

.playerHub {
  height: 75vh;
  max-width: 95vw;
  display: grid;
  margin: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "top"
    "bottom";
  justify-items: center;
    // .top, .bottom {
    //     border: 1px solid;
    // }
    button { 
      width: 8em;
      height: 2em;
      background: transparent;
      border: 1px solid black;
      border-radius: 25px;
      transition: .25ms; 
    }
}

