.grid-container {
  display: grid;
  grid-template-columns: 1fr 1.8fr repeat(2, 0.5fr);
  grid-template-rows: 0.1fr repeat(2, 1fr) .9fr;
  gap: 0px 0px;
  grid-template-areas:
    ". title . ."
    "activeCards monster door-cards player-progress"
    "treasure-cards monster door-cards player-progress"
    ". cards-in-hand . player-progress";
    // ". . . .";

  height: 100%;
}

.activeCards { grid-area: activeCards; }

.treasure-cards { grid-area: treasure-cards; }

.door-cards { grid-area: door-cards; }

.monster { 
  display:grid;
  // justify-self: center;
  grid-area: monster; 
  height:100%;
  grid-row-start: 2;
  grid-row-end: 4;
}

.cards-in-hand { grid-area: cards-in-hand; }

.player-progress { grid-area: player-progress; }

.title { grid-area: title; }




// li {
//   list-style: none;
//   text-align: center;
// }

// .grid-container {
//   margin-top:10px;
//   display:grid;
//   grid-template-columns: 0.6fr 1.7fr 0.6fr;
//   grid-template-rows: 1fr ;
//   gap: 0px 5px;
//   grid-template-areas:
//     "activeCards combatArea playersProgress";

//     .activeCards, .combatArea, .playersProgress{
//       border:1px solid;
//       height:500px;
//     }
// }