ul {
    display: flex;
    justify-content: space-evenly;
    img {
        max-height: 120px;
    }
}
.zoom {
    transition: transform .2s;
    margin: 0 auto;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(2.5); 
    z-index: 1;
  }