html, body {
  height: 100%;
  background-color: #FFCC99;
  max-width: 100%;
  overflow-x: hidden;
}
.apps-background {
  background-color: #FFCC99;

}

// SUB HEADER

.sub {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}