.navbar {
    // overflow: hidden;
    background-color: #FFCC99;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    a {
      text-align: center;
      color:black;
      background-color:  #E4702A;
      border:2px black solid;
      padding: 5px;
      border-radius: 10px;
      width:74px
    }
}

.dropbtn {
    color: black;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color:  #E4702A;
    border:2px black solid;
    border-radius: 10px;

}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    border-radius: 20px;
    border: 2px solid black;
    padding: 10px;

    display: none;
    position: absolute;
    overflow: hidden;
    // background-color: #791d1d;
    background-color: #3e8e41;

    // min-width: 160px;
    // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    // z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    // display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  .nav-link {
    background-color: black;
  }

    //   input {
    //     width:300px;
    //     height:50px;
    //     border-radius: 10px;
    //     border: 2px solid black;
    //     padding-left: 20px;
    //     background-color: #A9C4CD;
    // }
    
    // button {
    //     width:300px;
    //     height:50px;
    //     border-radius: 25px;
    //     border: 2px solid black;
    //     background-color: #E4702A;
    //     // border:none;
    // }

