//TODO: I think that I want to make this a hover instead of a flip




  // grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  .grid-container {
  display: grid;
  height: 88vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  // grid-template-columns: repeat(auto-fit, minmax( 1fr));
  grid-template-rows: 0.40fr 2.5fr 0.50fr 2.5fr .5fr;
  
  grid-template-areas:
    ". . . . . . . . . . . . . . . . . . ."
    ". . diane diane diane . peng peng peng . joe joe joe . kory kory kory . ."
    ". . . . . . . . . . . . . . . . . . ."
    ". . . . brendon brendon brendon . chris chris chris . edgar edgar edgar . . . ."
    ". . . . . . . . . . . . . . . . . . .";
}

.about-card {
  border: 1px black solid;
  // min-width: 300px;

}
.diane { grid-area: diane; }
.peng { grid-area: peng; }
.joe { grid-area: joe; }
.kory { grid-area: kory; }
.brendon { grid-area: brendon; }
.chris { grid-area: chris; }
.edgar { grid-area: edgar; }
.Nav { 
  grid-area: Nav; 
  align-self: start;
}



